body {
  width: 1720px;
  height: 1047px;
  background: #17489a url("../img/bg-large.png") no-repeat left top;
  margin: 0;
  padding: 33px 100px 0;
  font-family: "Lato", sans-serif;
  color: white;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased; }

header {
  position: relative;
  height: 135px;
  background-color: #fe9121;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0; }
  header > h3 {
    font-size: 32px;
    position: relative;
    line-height: 135px; }
    header > h3 strong {
      font-size: 72px;
      position: absolute;
      top: 0; }
    header > h3.right {
      padding-right: 110px; }
      header > h3.right strong {
        right: 440px; }
    header > h3.left {
      padding-left: 40px; }
      header > h3.left strong {
        text-align: center;
        left: 454px;
        width: 282px; }

#logo {
  border: 0;
  display: block;
  width: 244px;
  height: 166px;
  position: absolute;
  left: calc(50% - 122px);
  top: -12px;
  background: transparent url("../img/logo.png") no-repeat left top; }

section {
  height: 106px;
  background-color: white;
  margin: 0 0 8px;
  overflow: hidden;
  font-weight: bold;
  padding: 24px; }
  section.codici .main {
    width: 100%; }
  section.codici > p {
    text-align: left;
    font-size: 54px;
    line-height: 84px; }
  section.codici .secondary {
    width: 400px;
    margin: 10px 0 0; }
  section.intermediari {
    height: auto;
    padding-top: 0; }
    section.intermediari .heading h2 {
      background: transparent url("../img/ico-screen.png") no-repeat right center; }
    section.intermediari .left {
      width: 50%;
      margin: 10px 0 0; }
      section.intermediari .left h2 {
        font-size: 30px;
        line-height: 34px; }
      section.intermediari .left p {
        text-align: left;
        line-height: 72px;
        font-size: 54px; }
  section.tall {
    height: auto;
    padding-top: 2px;
    position: relative; }
    section.tall .increment {
      position: absolute;
      color: #fe9121;
      bottom: 104px;
      right: 24px;
      font-size: 92px;
      line-height: 104px;
      font-weight: bold;
      padding-right: 60px; }
      section.tall .increment.rising {
        background: transparent url("../img/ico-rising.png") no-repeat right center; }
      section.tall .increment.decreasing {
        background: transparent url("../img/ico-decreasing.png") no-repeat right center; }
      section.tall .increment.stationary {
        background: transparent url("../img/ico-stationary.png") no-repeat right center; }
  section.half {
    width: 356px;
    margin: 0 0 8px 0; }
    section.half + .half {
      margin: 0;
      clear: none; }
    section.half + section {
      clear: both; }
  section > div {
    line-height: 34px; }
  section .main {
    float: left;
    width: 405px; }
    section .main h2 {
      line-height: 36px;
      font-size: 30px; }
    section .main p {
      line-height: 82px;
      font-size: 54px;
      text-align: left; }
      section .main p + h2 {
        margin-top: 40px; }
    section .main + div {
      margin-top: 40px; }
  section h2, section h3 {
    text-transform: uppercase;
    color: #17489a;
    font-size: 20px; }
  section h3 {
    float: left; }
  section p {
    color: #fe9121;
    font-size: 24px;
    text-align: right; }

.right {
  float: right; }

.left {
  float: left; }

.pane {
  width: 816px; }
  .pane.right section .main {
    width: 100%; }
    .pane.right section .main .heading {
      margin-bottom: 57px; }
      .pane.right section .main .heading h2, .pane.right section .main .heading p {
        line-height: 120px; }
      .pane.right section .main .heading p {
        text-align: right; }

.centered {
  text-align: center; }

.numeric, header > h3 strong, section.tall .increment, section p {
  font-family: "Roboto", sans-serif; }

.reset, header > h3, #logo, section .main, section h2, section h3, section p {
  margin: 0;
  padding: 0; }

h4 {
  line-height: 80px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0; }
  h4 span {
    font-weight: bold; }

@media (max-width: 1679px) {
  body {
    padding: 82px 68px 0;
    width: 1144px;
    height: 942px;
    overflow: hidden;
    border-width: 0 4px 4px 0;
    background-size: cover; }

  #logo {
    background: transparent url("../img/logo-small.png") no-repeat left top;
    height: 127px;
    top: -14px; }

  header {
    height: 90px; }
    header > h3 {
      line-height: 90px;
      font-size: 20px; }
      header > h3 strong {
        font-size: 42px; }
      header > h3.left {
        padding-left: 20px; }
        header > h3.left strong {
          left: 285px;
          width: 168px; }
      header > h3.right {
        padding-right: 50px; }
        header > h3.right strong {
          right: 270px;
          width: 168px;
          text-align: center; }

  section {
    height: 96px;
    padding: 18px 26px;
    margin-bottom: 16px; }
    section.half {
      width: 209px;
      margin-bottom: 16px; }
      section.half small {
        font-size: 16px;
        text-transform: none;
        font-weight: bold; }
      section.half .main p {
        font-size: 28px;
        line-height: 56px; }
    section .main {
      width: 250px; }
      section .main h2 {
        font-size: 22px;
        line-height: 40px; }
      section .main p {
        font-size: 36px;
        line-height: 62px; }
      section .main + div {
        margin-top: 0px; }
    section > div h3 {
      text-align: right;
      font-size: 13px;
      line-height: 14px;
      float: none; }
    section > div p {
      font-size: 22px;
      line-height: 40px; }
    section.codici {
      position: relative; }
      section.codici > p {
        font-size: 36px;
        line-height: 52px; }
      section.codici .optional {
        display: none; }
      section.codici .secondary.right {
        position: absolute;
        width: 244px;
        margin-top: 0px;
        top: 18px;
        right: 26px; }
    section.tall {
      padding-bottom: 30px; }
      section.tall p {
        line-height: 70px; }
      section.tall h2 {
        line-height: 32px;
        font-size: 16px; }
      section.tall .increment {
        font-size: 62px;
        line-height: 74px;
        padding-right: 46px;
        bottom: 70px; }
        section.tall .increment.rising {
          background-image: url("../img/ico-rising-small.png"); }
        section.tall .increment.decreasing {
          background-image: url("../img/ico-decreasing-small.png"); }
        section.tall .increment.stationary {
          background-image: url("../img/ico-stationary-small.png"); }
    section.intermediari {
      padding-bottom: 30px; }
      section.intermediari .heading h2 {
        background: transparent url("../img/ico-screen-small.png") no-repeat right center; }
      section.intermediari .left h2 {
        margin-top: 18px;
        font-size: 18px;
        line-height: 50px; }

  .pane {
    width: 538px; }
    .pane.right section .main .heading {
      margin-bottom: 10px; }
      .pane.right section .main .heading h2 {
        font-size: 22px; }
      .pane.right section .main .heading p, .pane.right section .main .heading h2 {
        line-height: 106px; }
    .pane.right section.intermediari .main .heading {
      margin-bottom: 30px; }

  h4 {
    font-size: 14px;
    line-height: 78px; } }

/*# sourceMappingURL=main.css.map */
