$orange: #FE9121
$blue: #17489A

body
    width: 1720px
    height: 1047px
    background: $blue url('../img/bg-large.png') no-repeat left top
    margin: 0
    padding: 33px 100px 0
    font-family: 'Lato', sans-serif
    color: white
    letter-spacing: 1px
    -webkit-font-smoothing: antialiased

header
    position: relative
    height: 135px
    background-color: $orange
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75)
    margin: 0

    > h3
        @extend .reset
        font-size: 32px
        position: relative
        line-height: 135px

        strong
            @extend .numeric
            font-size: 72px
            position: absolute
            top: 0

        &.right
            padding-right: 110px

            strong
                right: 440px

        &.left
            padding-left: 40px

            strong
                text-align: center
                left: 454px
                width: 282px

#logo
    @extend .reset
    border: 0
    display: block
    width: 244px
    height: 166px
    position: absolute
    left: calc(50% - 122px)
    top: -12px
    background: transparent url('../img/logo.png') no-repeat left top

section
    height: 106px
    background-color: white
    margin: 0 0 8px
    overflow: hidden
    font-weight: bold
    padding: 24px

    &.codici
        .main
            width: 100%

        > p
            text-align: left
            font-size: 54px
            line-height: 84px

        .secondary
            width: 400px
            margin: 10px 0 0

    &.intermediari
        height: auto
        padding-top: 0

        .heading
            h2
                background: transparent url('../img/ico-screen.png') no-repeat right center

        .left
            width: 50%
            margin: 10px 0 0

            h2
                font-size: 30px
                line-height: 34px

            p
                text-align: left
                line-height: 72px
                font-size: 54px

    &.tall
        height: auto
        padding-top: 2px
        position: relative

        .increment
            @extend .numeric
            position: absolute
            color: $orange
            bottom: 104px
            right: 24px
            font-size: 92px
            line-height: 104px
            font-weight: bold
            padding-right: 60px

            &.rising
                background: transparent url('../img/ico-rising.png') no-repeat right center

            &.decreasing
                background: transparent url('../img/ico-decreasing.png') no-repeat right center

            &.stationary
                background: transparent url('../img/ico-stationary.png') no-repeat right center


    &.half
        width: 356px
        margin: 0 0 8px 0

        + .half
            margin: 0
            clear: none

        + section
            clear: both

    > div
        line-height: 34px

    .main
        @extend .reset
        float: left
        width: 405px

        h2
            line-height: 36px
            font-size: 30px

        p
            line-height: 82px
            font-size: 54px
            text-align: left

            + h2
                margin-top: 40px

        + div
            margin-top: 40px


    h2, h3
        @extend .reset
        text-transform: uppercase
        color: $blue
        font-size: 20px

    h3
        float: left

    p
        @extend .reset
        @extend .numeric
        color: $orange
        font-size: 24px
        text-align: right

.right 
    float: right

.left
    float: left

.pane
    width: 816px

    &.right
        section
            .main
                width: 100%

                .heading
                    margin-bottom: 57px

                    h2, p
                        line-height: 120px
                    p
                        text-align: right

.centered
    text-align: center

.numeric
    font-family: 'Roboto', sans-serif

.reset
    margin: 0
    padding: 0

h4
    line-height: 80px
    font-size: 18px
    text-transform: uppercase
    font-weight: normal
    margin: 0
    padding: 0

    span
        font-weight: bold

@media (max-width: 1679px)
    body
        padding: 82px 68px 0
        width: 1144px
        height: 942px
        overflow: hidden
        border-width: 0 4px 4px 0
        background-size: cover

    #logo        
        background: transparent url('../img/logo-small.png') no-repeat left top
        height: 127px
        top: -14px

    header
        height: 90px

        > h3
            line-height: 90px
            font-size: 20px

            strong
                font-size: 42px

            &.left
                padding-left: 20px

                strong
                    left: 285px
                    width: 168px

            &.right
                padding-right: 50px

                strong
                    right: 270px
                    width: 168px
                    text-align: center

    section
        height: 96px
        padding: 18px 26px
        margin-bottom: 16px

        &.half
            width: 209px
            margin-bottom: 16px

            small
                font-size: 16px
                text-transform: none
                font-weight: bold

            .main
                p
                    font-size: 28px
                    line-height: 56px

        .main
            width: 250px

            h2
                font-size: 22px
                line-height: 40px

            p
                font-size: 36px
                line-height: 62px

            + div
                margin-top: 0px

        > div
            h3
                text-align: right
                font-size: 13px
                line-height: 14px
                float: none

            p
                font-size: 22px
                line-height: 40px

        &.codici
            position: relative

            > p
                font-size: 36px
                line-height: 52px

            .optional
                display: none

            .secondary.right
                position: absolute
                width: 244px
                margin-top: 0px
                top: 18px
                right: 26px

        &.tall
            padding-bottom: 30px

            p
                line-height: 70px

            h2
                line-height: 32px
                font-size: 16px

            .increment
                font-size: 62px
                line-height: 74px
                padding-right: 46px
                bottom: 70px

                &.rising
                    background-image: url('../img/ico-rising-small.png')

                &.decreasing
                    background-image: url('../img/ico-decreasing-small.png')

                &.stationary
                    background-image: url('../img/ico-stationary-small.png')

        &.intermediari
            padding-bottom: 30px

            .heading
                h2                   
                    background: transparent url('../img/ico-screen-small.png') no-repeat right center

            .left
                h2
                    margin-top: 18px
                    font-size: 18px
                    line-height: 50px
    
    .pane
        width: 538px

        &.right
            section
                .main
                    .heading
                        margin-bottom: 10px

                        h2
                            font-size: 22px

                        p, h2
                            line-height: 106px

                &.intermediari
                    .main
                        .heading
                            margin-bottom: 30px

    h4
        font-size: 14px
        line-height: 78px
